.one
{
    padding: 2%;
}

.two
{
    margin-top: -3%;
    margin-left: 3%;
}

.three
{
    margin-left: 3%;
    margin-right: 30%;
}

.pic2
{
    margin-left: 72%;;
    margin-top: -20.5%;
    width: 25%;
}

.four

{
    margin-left: 3%;
}

.five
{
    margin-left: 3%;
    margin-right: 3%;
}

.six
{
    margin-left: 3%;
}

.seven
{
    margin-left: 3%;
    margin-right: 3%;
}


.background-image
{
    background-size: cover;
}

.eight
{
    margin-left: 3%;
    margin-right: 3%;
}

.pic3
{
    margin-top: 0%;
    width: 50%;
    margin-left: 25%;
}

